body {
    color: #333;
    text-align: left;
    font-family: "Courier New";
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#container {
    width: 70%;
    margin: lem;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background-color: #33c;
    color: white;
    margin: 0;
    padding: 0.5em;
    text-align: left;
    font-weight: bold;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.75);
}

#cabcera #tagline {
    font-size: 0.8 em;
    font-weight: normal;
    padding: 1em 0 0;
}